{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
  <div class="home-image">
  </div>
</div>

<!-- Featured Image content starts here -->
<div class="featured-content-container">
  <div class="featured-content">
    <p>
      Wimpleton House is a privately-owned country estate 
      standing on a secluded 400 acres in the south-east of 
      Ireland. Upon arrival, you will be instantly transported 
      back into time while enjoying the finest of modern 
      comforts.
    </p>
    <p>Wimbledon House provides an ideal location to 
      celebrate an exquisitely luxurious wedding or celebration 
      or event. Whether celebrating with a small and intimate 
      group or for larger affairs, Wimpleton House can 
      accommodate your event needs.
    </p>
  </div>
</div>

<div class="container-fluid text-center">
    <div class="row align-items-start event-type-container">
      <div class="col featured-events">
        <div id="featured-events-img-weddings"></div>
        <div>
          <h2>Weddings</h2>
          <p>Our passion for beauty and excellence combined with
            the beautiful gardens and unique architecture celebrate
            the most memorable experience for our wonderful couples.
          </p>
        </div>
      </div>
      <div class="col featured-events">
        <div id="featured-events-img-corporate"></div>
        <div>
          <h2>Corporate events</h2>
          <p>Whether you want to host a special meeting or a creative
            team building event, Wimpleton House offers a unique backdrop
            for your corporate event.
          </p>
        </div>
      </div>
      <div class="col featured-events">
        <div id="featured-events-img-celebrations"></div>
        <div>
          <h2>Celebrations</h2>
          <p>From anniversary celebrations, birthday soirees, to engagement 
            parties, our stunning buildings and garden spaces offer many options
            for celebrating the special moments of your life.
          </p>
        </div>
      </div>
      <div class="col featured-events">
        <div id="featured-events-img-galas"></div>
        <div>
          <h2>Galas & <br>Garden Parties</h2>
          <p>Wimpleton House is the perfect location for a special Gala event
            whether for a fundraiser or other very special large event. Our
            beautiful gardens, stunning views, and large ballroom are the perfect
            place to host an unforgettable evening.
          </p>
        </div>
      </div>
    </div>
  </div>




<!-- Venue Hire content ends here -->

{% endblock %}