{% extends "base.html" %}

{% block content %}
<!-- Venue Hire content starts here -->

<div class="container-fluid main-canvas">
    <div class="">
        Large image goes here

        with brand style text across the front with page name

    </div>
</div>

<div class="container-fluid text-center">
    <div class="row align-items-start sample-venue-section">
      <div class="col featured-venue">
        <div>img goes here</div>
        <div>Descriptive blurb</div>
      </div>
      <div class="col featured-venue" style="background-color: orange;">
        2nd featured venue
      </div>
      <div class="col featured-venue" style="background-color: aqua;">
        3rd featured venue
      </div>
    </div>
  </div>




<!-- Venue Hire content ends here -->

{% endblock %}