body {
    background-color: #ffffff;
    font-family: Montserrat, sans-serif;
    color: #252525;
}

/* Navigation */
.brand {
    font-family: Libre Baskerville, serif;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    white-space: nowrap;
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #d9dcd6;
}

.brand a {
    text-decoration: none;
}

.nav-background {
    background-color: #445261;
}

.container {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

/* Sign in / Sign out / Register pages */

.container-authentication {
    display: block;
    justify-content: center;
    width: 100vw;
    margin: 0;
}

.container-auth-box {
    margin: 40px auto;
    width: 90%;
    padding: 40px;
    background-color: #d9dcd6;
}

/* Home page: Featured image styles */
.featured-image-container {
    background-color: #ffffff;
}

.home-image {
    background: url("/static/images/wimpleton_home_1067x600.webp") no-repeat center/cover, #445261;
    height: 400px;
}

/* Home page: Featured content section */
.featured-content-container {
    background-color: #ffffff;
    padding: 40px 25px;
}

.featured-content {
    background-color: #d9dcd6;
    padding: 40px 25px;
    font-size: .85em;
    text-transform: uppercase;
}

.event-type-container {
    display: block;
    justify-content: center;
    background-color: #ffffff;
}

.authenticated-user {
    background-color: #445261;
    color: #d9dcd6;
}

.featured-events {
    width: 100vw;
    display: block;
    justify-content: center;
    padding: 15px 2px;
    background-color: #ffffff;
}

.featured-events h2 {
    font-family: Libre Baskerville, serif;
    text-transform: uppercase;
    font-size: 1.12rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding-top: 35px;
}

.featured-events p {
    font-size: 1rem;
    padding: 20px 25px;
}

#featured-events-img-weddings {
    background: url("/static/images/featured-event-images-weddings_600x600.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#featured-events-img-celebrations {
    background: url("/static/images/featured-event-images-celebrations_600x600.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#featured-events-img-corporate {
    background: url("/static/images/featured-event-images-corporate_600x600.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#featured-events-img-galas {
    background: url("/static/images/featured-event-images-galas_600x600.webp") no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 0 auto;
    padding-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* Venue Hire Page */
.container-venues {
    width: 90vw;
    padding: 60px 20px 60px;
}

.venue-image {
    background: url("/static/images/featured_image_1600x900_chapel.webp") no-repeat left/cover, 40px, #445261;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-text-main {
    background-color: rgb(246, 250, 246, .5);
    font-size: 130%;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: auto;
    height: 75px;
    text-align: center;
    padding: 20px;
}


.card-venue-hire {
    
}

.venue-title {
    font-family: Libre Baskerville, serif;
    text-transform: uppercase;
    text-decoration: none;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    /*white-space: nowrap;*/
    font-size: 1.15rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.venue-link {
    text-decoration: none;
    color: #445261;
}


.footer {
    background-color: #445261;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Home page */
    .home-image {
        height: 500px;
        background-position: center;
    }

    .event-type-container {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    /* Sign up / Sign out / Registration pages */
    .container-auth-box {
        width: 550px;
    }
}

/* old styles 

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #188181;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

*/

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Home page */
    .featured-events {
        width: 350px;
    }
}    