{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
    <div class="about-image">
        <div class="overlay-text-main">
            <h2>About Wimpleton</h2>
        </div>
    </div>
  </div>

<!-- About Wimpleton House blurb -->
<div class="featured-content-container">
    <div class="featured-content">
      <p>
        The Wimpleton House is a uniquely preserved mansion and world-renowned 17th-century
        gardens, featuring refurbished farm yards, barns and stables. 
      </p>
      <p>As a working estate in County Wicklow, Ireland, the diversity of the buildings and
        areas on the Wimpleton House estate creates a diverse range of spaces that are available
        and more. With beautiful woodlands, gardens, and buildings as the backdrop for your event,
        your event will have exclusive access to a beautiful and glamorous part of Irish history.
      </p>
      <p>Wimbledon House provides an ideal location to 
        celebrate an exquisitely luxurious wedding or celebration 
        or event. Whether celebrating with a small and intimate 
        group or for larger affairs, Wimpleton House can 
        accommodate your event needs.
      </p>

      <section id="gallery">
        <div id="photos">
            <img src="{% static 'images/gallery/gallery_gardenwedding.webp' %}" alt="Wimpleton Garden Wedding">
            <img src="{% static 'images/gallery/gallery_westgate.webp' %}" alt="Wimpleton West Gate">
            <img src="{% static 'images/gallery/gallery_ballroom.webp' %}" alt="Wimpleton Ballroom">
            <img src="{% static 'images/gallery/gallery_bride1.webp' %}" alt="Wimpleton Bride Courtyard">
            <img src="{% static 'images/gallery/gallery_chapel.webp' %}" alt="Wimpleton Chapel">
            <img src="{% static 'images/gallery/gallery_sparklers.webp' %}" alt="Wimpleton Sparkler Send off">
            <img src="{% static 'images/gallery/gallery_conservatory.webp' %}" alt="Wimpleton Conservatory">
            <img src="{% static 'images/gallery/gallery_dessertbuffet.webp' %}" alt="Wimpleton Dessert Buffet">
            <img src="{% static 'images/gallery/gallery_eveningweddingreception.webp' %}" alt="Wimpleton Evening Reception">
            <img src="{% static 'images/gallery/gallery_masquerade.webp' %}" alt="Wimpleton Masquerage Fundaraiser Gala">
            <img src="{% static 'images/gallery/gallery_cakedisplay.webp' %}" alt="Wimpleton Cake Display">
            <img src="{% static 'images/gallery/gallery_weddingcouple.webp' %}" alt="Wimpleton Wedding Couple Courtyard">
            <img src="{% static 'images/gallery/gallery_autumndinner.webp' %}" alt="Wimpleton Autumn Banquet">
            <img src="{% static 'images/gallery/gallery_banquettables.webp' %}" alt="Wimpleton Banquet Tables">
        </div>
    </section>
    </div>
  </div>
{% endblock %}