{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
    <div class="about-image">
        <div class="overlay-text-main">
            <h2>About Wimpleton House</h2>
        </div>
    </div>
  </div>

<!-- About Wimpleton House blurb -->
<div class="featured-content-container">
    <div class="featured-content">
      <p>
        A little blurb here about the different type of celebrations and events possible
      </p>
      <p>Wimbledon House provides an ideal location to 
        celebrate an exquisitely luxurious wedding or celebration 
        or event. Whether celebrating with a small and intimate 
        group or for larger affairs, Wimpleton House can 
        accommodate your event needs.
      </p>
    </div>
  </div>
{% endblock %}