{% extends "base.html" %}
{% load static %}


{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
    <div class="about-image">
        <div class="overlay-text-main">
            <h2>About Wimpleton House</h2>
        </div>
    </div>
  </div>

<!-- About Wimpleton House blurb -->
<div class="featured-content-container">
    <div class="featured-content">
      <p>
        Each of the unique areas of Wimpleton House all provide an extraordinary backdrop
        to make your event unforgettable.
      </p>
      <p>Whether you envision a gala fundraiser that encompass the Wimpleton grounds and 
        gardens or a intimate reception in the Mansion Formal rooms, the Wimpleton House offers
        limitless possibilities for your special event or occasion. Start the booking process
        by registering and completing a booking request and a member of our Special Events team 
        reach out to you and confirm the details of your event.
      </p>
    </div>
  </div>
{% endblock %}