{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
    <div class="contact-image">
        <div class="overlay-text-main">
            <h2>Contact Us</h2>
        </div>
    </div>
  </div>

<!-- About Wimpleton House blurb -->
<div class="featured-content-container">
    <div class="featured-content">
      <p>
        Contact Information
      </p>
      <p>Wimpleton House is located in the lush mountains of Wicklow County, 
        Ireland, and a short drive from Dublin and Dublin airport.
      </p>
      <p>Location:
        Wimpleton House
        County Wicklow
        Ireland</p>
      <p>Telephone: 123.456.9823</p>
      <p>Email: information@wimpletonhouse.com</p>
      <p>Complete the form below to contact us with any questions about Wimpleton House
        or your event:
      </p>
    </div>
  </div>
{% endblock%}