{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- Featured Image -->

<div class="featured-image-container">
  <div class="contact-image">
    <div class="overlay-text-main">
      <h2>Contact Us</h2>
    </div>
  </div>
</div>

<!-- About Wimpleton House blurb -->
<div class="featured-content-container-contact">
  <div class="featured-content-contact">
    <!-- <div class="row featured-content-contact align-items-center"> -->
    <div class="address-block">
      <div class="address">
        <h4>Contact Information</h4>
        <p>Wimpleton House is located in the lush mountains of Wicklow County,
          Ireland, and a short drive from Dublin and Dublin airport.
        </p>

        <h6>Address:</h6>
        <p>
          Wimpleton House
          County Wicklow
          Ireland
        </p>
        <h6>Telephone:</h6>
        <p>123.456.9823</p>
        <p>info@wimpletonhouse.com</p>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2568.052544760819!2d-6.152240287551508!3d52.92681997205457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sie!4v1726850772967!5m2!1sen!2sie"
          width="250" height="250" style="border: none;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <hr>
    <div class="contact-form-container">
      <form id="email-form" method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {% if messages %}

        <ul class="messages">
          {% for message in messages %}
          <!-- <li>{{ form.non_field_errors }}</li> -->
          <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Container with Venues to select from -->
        <div class="">
            <h5>Complete the form below to contact us with any questions about Wimpleton House
              or your event:</h5>
          {{ email_form | crispy }}
        </div>
        <div class="">
          <button class="btn btn-secondary" type="submit">Send</button>
        </div>

      </form>
    </div>

  </div>
</div>
{% endblock%}