{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- List of all Bookings created by this user -->
<div class="booking-list">
    
    <h2>Booking Dashboard</h2>
    
    <p><a href="{% url 'request-booking' %}"><div class="button" style="background-color: orange; width: 150px; text-align: center; padding: 10px 5px">Request a Booking</div></a></p>
    <p><span class="bold">Client Name:</span> {{ user.username }}</p>
    
    <p class="bold">Your Current Venue Bookings:</p>
    <!-- Iterate over booking object -->
      {% for booking in bookings %}
      <!-- Display Objects -->
      <div class="booking-card-container">
        <div class="booking-card-individual">
          <p class="booking-venue text-muted">Venue: {{ booking.venue }}</p>
          <p><span class="text-muted bold">Booking date:</span> {{ booking.event_date }}</p>
          <p><span class="text-muted bold">Event type:</span> {{ booking.event_type }}</p>
          <p><span class="text-muted bold">Number of guests:</span> {{ booking.num_guests }}</p>
          <p><span class="text-muted bold">Status:</span> {% if booking.status == 0 %}Approved{% else %}Pending Approval{% endif %}</p>
        </div>
        <a href="#" aria-label="Opens Edit Booking page">
          <div class="button" style="background-color: orange; width: 150px; text-align: center; padding: 10px 5px;">edit button</div>
        </a>
        <div style="background-color: red; width: 150px; text-align: center; padding: 10px 5px">delete button</div>
      </div>
      <!-- If object list is empty -->
      {% empty %}
      No bookings yet
      {% endfor %}

</div>







{% endblock %}