{% extends "base.html" %}
{% load static %}


{% block content %}


<!-- List of all Bookings created by this user -->
<div class="booking-list">
    
    <h2>Booking Dashboard</h2>
    <p><span class="bold">Client Name:</span> {{ user.username }}</p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <p><a href="{% url 'request-booking' %}" class="btn btn-edit">Request a Booking</a></p>
    <p class="bold">Your Current Venue Bookings:</p>
    <!-- Iterate over booking object -->
      {% for booking in bookings %}
      <!-- Display Objects -->
      <div class="booking-card-container">
        <div class="booking-card-individual">
          <p class="booking-venue text-muted">Venue: {{ booking.venue }}</p>
          <p><span class="text-muted bold">Booking ID:</span> {{ booking.booking_id }}</p>
          <p><span class="text-muted bold">Event date:</span> {{ booking.event_date }}</p>
          <p><span class="text-muted bold">Event type:</span> {{ booking.event_type }}</p>
          <p><span class="text-muted bold">Number of guests:</span> {{ booking.num_guests }}</p>
          <p><span class="text-muted bold">Status:</span> {% if booking.status == 0 %}Approved{% else %}Pending Approval{% endif %}</p>
        </div>
        <!-- Edit Booking Button -->
        {% if user.is_authenticated and booking.client == user %}
          <a href="{% url 'edit-booking' booking.booking_id %}" class="btn btn-edit" 
            data-booking_id="{{ booking.booking_id }}">Edit Booking
          </a>
           
          <button class="btn btn-danger" data-booking_id="{{ booking.booking_id }}">
            Delete</button>
        {% endif %}

      </div>
      <!-- If object list is empty -->
      {% empty %}
      No bookings yet
      {% endfor %}

      <!-- Delete Modal - Source: CI DJango Blog Project -->
      <!-- Delete confirmation modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"
                id="deleteModalLabel">Delete comment?</h5>
              <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete your booking?
              This action cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
              <a id="deleteConfirm" href="#" class="btn
                btn-danger">Delete</a>
            </div>
          </div>
        </div>
      </div>

</div>







{% endblock %}

{% block extras %}
  <script src="{% static 'js/booking.js' %}"></script>
{% endblock %}