{% extends "base.html" %}
{% load static %}

{% block content %}
create new booking 

<!-- Add Booking Form -->
<form id="booking-form" method="post" action="#">
    {% csrf_token %}
    {{ form.errors }}
    <!-- Container with movies to select from -->
    <div class="venue-container">
        <label for="venue">Select your venue:</label>
        <br>
        <select id="venue" name="venue">
            <option value="mansion">Formal Rooms in the Mansion</option>
            <option value="conservatory">The Conservatory</option>
            {% for venue in venues %}
            <option value="{{ form.venue }}">{{ form.venue }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="total-text">
        <h2>$ <span id="total-price">0.00</span></h2>
        <button class="book-btn" type="submit">Book</button>
    </div>
</form>
{% endblock %}