{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="create-booking-form-container">
    <h2>Edit your booking:</h2>
    <div>
    <form id="booking-form" method="POST" action="{% url 'edit-booking' original_booking.booking_id %}">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="venue-container">
            <h5>Please update your information:</h5>
            {{ form | crispy }}
        </div>
        <div>
            <button class="btn btn-edit" type="submit">Update Booking</button>
        </div>
    </form>
    </div>
    
</div>

{% endblock %}