{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<!-- Booking Form -->
<div class="create-booking-form-container">
    <h2>Create a Booking Request:</h2>
    <p>Booking requests reserve your venue and date. Once we have received your request,
        a member of our Special Events team will contact you to discuss the details of your
        event and to move forward. Venue Hire deposits must be paid in full in 30 days once 
        your booking is approved unless specified otherwise in your contract.
    </p>
    <form id="booking-form" method="POST" action="{% url 'request-booking' %}">
        {% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Container with Venues to select from -->
        <div class="venue-container">
            <label for="venue"><h5>Please complete this form to create a booking request:</h5></label>
            {{ form | crispy }}
        </div>
        <div class="">
            <button class="btn btn-secondary" type="submit">Book</button>
        </div>
        
    </form>
</div>
{% endblock %}

